page-home {
 #lol{
    width:27%;  
    height:70%;  
    background-color: #e5a3ad;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #ffb6c1;
 }

 h1{
     
    color: #e5a3ad;
 }

 h2{
    color:#ffb6c1;
 }
}
